@model IEnumerable<SIAWebLinksBusinessLayer.WebLinks>

@{
    ViewBag.Title = "Link Address";
}

@*<div style="padding-left:30px">
    <h4>Web<small> Address</small> </h4>
</div>*@
<div class="row">
    <div class="col-md-3">
        <strong style="font-size:1.7em; padding-left:2px">Current Links</strong>
    </div>
    <div class="col-md-9">
        <div style="float: right">
            @using (Html.BeginForm("Index", "LinkAddress", FormMethod.Get))
            {
                <strong style="font-size: 1.2em;">Find by Category or Name:&nbsp; &nbsp;</strong>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { style = " padding-bottom:8px; " })
                <input type="submit" class="btn btn-primary" value="Search" />
          
        }
        </div>
        
    </div>
    
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <span class="h6">@Html.ActionLink("Create New", "Create")&nbsp;&nbsp;|&nbsp;&nbsp;</span><span
                class="h6">@Html.ActionLink("Admin", "Index", "Admin")</span> 
            <table class="table table-condensed table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SIA_WebCategories.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WebLink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VisibleFlag)
                    </th>
                    
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SIA_WebCategories.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WebLink)
                        </td>
                        <td>
                            @{
                                string approve = (item.VisibleFlag).ToString();
                                    if (approve == "True")
                                        {
                                            <img src="~/Images/Check_Round.png" alt="" class="image_background" />
                                        }
                                    else
                                        {
                                            <img src="~/Images/red-minus.png" alt="" class="image_background" />
                                        } 
                              }
                            @*@Html.DisplayFor(modelItem => item.VisibleFlag)*@
                        </td>
                       
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.WebLinkID }) |
                           @* @Html.ActionLink("Details", "Details", new { id=item.WebLinkID }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id=item.WebLinkID })
                        </td>
                    </tr>
}
            </table>
        </div>
    </div>
</div>
