@model RecognitionBusinessLayer.AwardType

@{
    ViewBag.Title = "Award Type Details";
}

<div style="padding-left: 5px">
    <h3>
        Award Type<small> Details</small></h3>
</div>
<form class="form-horizontal">
<div class="Container">
    <div class="row">
        <div class="col-sm-6">
            <fieldset class="scheduler-border">
                @*<h5 class="text-warning">
                    SOP Details</h5>*@
               
                <div class="form-group col-xs-12">
                <div class="display-label">
                        <strong style="font-size: 1.2em; color: #F47C3C">@Html.DisplayNameFor(model => model.Name)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em">@Html.DisplayFor(model => model.Name)</strong>
                    </div>
                </div>
                 <div class="display-label">
                        <strong style="font-size: 1.2em; color: #F47C3C">@Html.DisplayNameFor(model => model.Code)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em">@Html.DisplayFor(model => model.Code)</strong>
                    </div>
                </div>
                
                <div class="form-group col-xs-12">

                </div>
                 <div class="form-group col-xs-12">
                    <a href="@Url.Action("Edit", "AwardType", new { id = Model.AwardTypeId })" class="btn btn-info btn-sm">Edit <i class="fa fa-pencil-square-o"aria-hidden="true"></i></a>
                        <a href="@Url.Action("Index", "AwardType")" class="btn btn-warning btn-sm">
                            Back To List <i class="fa fa-share" aria-hidden="true"></i></a>
                </div>
                
            </fieldset>
        </div>
    </div>
</div>
</form>


