@model PagedList.IPagedList<SOPBusinessLayer.DocHistory>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <strong style="font-size:1.8em; padding-left:10px">All Documents</strong>
    </div>
    <div class="col-md-6">
        
        @using (Html.BeginForm("Search", "DocHist", FormMethod.Get))
        {
            <strong style="font-size:1.2em;">Find by SOP or SOP Info:&nbsp; &nbsp;</strong>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { style = " padding-bottom:8px; " })
            <input type="submit" class="btn btn-primary" value="Search" />
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            &nbsp;&nbsp;<span class="h6">@Html.ActionLink("Admin", "Admin", "Home")</span>
            <table class="table table-condensed table-hover">
                <tr>
                    <th>
                        @Html.ActionLink("SOP", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        SOP Info
                    </th>
                    <th>
                        @Html.ActionLink("Effective On", "Search", new { sortOrder = ViewBag.StartDateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("End Date", "Search", new { sortOrder = ViewBag.EndDateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Modified Date
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SOP_SOP.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocInfo)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.DocPath)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @* @Html.ActionLink("Edit", "Edit", new { id = item.DocHistoryID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.DocHistoryID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.DocHistoryID })*@
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>
