@model PagedList.IPagedList<SOPBusinessLayer.DocHistory>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Search All Documents";

}
<div class="col-md-4">
    <strong style="font-size: 2.1em; padding-left: 2px">
        <span class="text-warning">Serach </span><span style="font-size:.6em">All SOP's</span>
    </strong>
</div>


@using (Html.BeginForm("Search", "DocHist", FormMethod.Get))
{
    <div class="col-xs-4" style="padding-top: 20px"></div>
    <div class="col-md-4" style="padding-top: 5px">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search For..." })
            <div class="input-group-btn">
                <button class="btn btn-default" title="processing" type="submit" id="process" value="process">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="padding-top: 5px">
        <br />

    </div>
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            &nbsp;<a href="javascript:history.back()" class="btn btn-sm btn-primary">
                <span style="color:white">Back  <i class="fa fa-reply" aria-hidden="true"></i></span>
            </a>
            <table class="table table-condensed table-hover">
                <tr>
                    <th>
                        @Html.ActionLink("Office", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        SOP Info
                    </th>
                    <th>
                        @Html.ActionLink("Effective On", "Search", new { sortOrder = ViewBag.StartDateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("End Date", "Search", new { sortOrder = ViewBag.EndDateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Modified Date
                    </th>
                    <th >
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="max-width:150px; min-width:150px; max-height:50px; min-height:50px; width:150px; height:50px;">
                            @Html.DisplayFor(modelItem => item.SOP_SOP.Name)
                        </td>
                        <td style="max-width:400px; min-width:400px; max-height:50px; min-height:50px; width:400px; height:50px;">
                            @Html.DisplayFor(modelItem => item.DocInfo)
                        </td>                     
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @{
                                System.Text.StringBuilder eSb = new System.Text.StringBuilder();
                                string enddate = "";
                                enddate = item.EndDate.ToString();
                                if (String.IsNullOrEmpty(enddate))
                                {
                                    eSb.Append("<span style=\"color:lawngreen\">Current Doc</span>");

                                }
                                else
                                {
                                    eSb.Append(@Html.DisplayFor(modelItem => item.EndDate));
                                }
                            }

                                @Html.Raw(eSb)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.DocHistoryID }) |*@
                            @Html.ActionLink("Details", "DetailsAll", new { id = item.DocHistoryID })
                            @* @Html.ActionLink("Delete", "Delete", new { id = item.DocHistoryID })*@
                        </td>
                    </tr>
                }
            </table>
            <p><span style="font:100; color:goldenrod">** Click Office,Effective On or End Date to sort **</span></p>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Search", "DocHist",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>
