
@model SOPBusinessLayer.DocHistory

@{
    ViewBag.Title = "Details";
}

<div class="Container">
    <div class="row">
        <div class="col-sm-6">
            <fieldset class="scheduler-border">
                <h4 class="text-warning">
                    SOP Details
                </h4>
                <br />
                <div class="form-group col-xs-12">
                    <div  class="display-label">
                        <strong class="text-warning" style="font-size: 1.2em">@Html.DisplayNameFor(model => model.SOP_SOP.Name)</strong>
                    </div>
                    <div class="display-field">
                        <strong class="sop" style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.SOP_SOP.Name)</strong>
                        @Html.HiddenFor(model => model.SOP_SOP.Name, new { id = "txtHidden" })
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong class="text-warning" style="font-size: 1.2em">@Html.DisplayNameFor(model => model.DocInfo)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.DocInfo)</strong>
                    </div>
                </div>
               
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong class="text-warning" style="font-size: 1.2em">@Html.DisplayNameFor(model => model.StartDate)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.StartDate)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong class="text-warning" style="font-size: 1.2em">@Html.DisplayNameFor(model => model.ModifiedDate)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.ModifiedDate)</strong>
                    </div>
                </div>
            </fieldset>
            <a href="javascript:history.back()" class="btn btn-sm btn-primary"
               data-toggle="tooltip" data-placement="top" title="View employees issued equipment">
                <span style="color:goldenrod">Back to list <i class="fa fa-reply" aria-hidden="true"></i></span>
            </a>
        </div>
        <div class="col-sm-6">
            @{
                string path = Model.DocPath;

                string newPath = path.Substring(23, (path.Length - 23));

                var url = "http://wppswebprod/FileShare/Activity/SOP/" + @newPath;

                string info = "View Full Screen";
            }

            <iframe src=@url width="500" height="625"></iframe>
            <div style="text-align: center">
                <br />
                <a href="@url" target="_blank" class="btn btn-success btn-sm">@info</a>


            </div>
        </div>


    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            var link = $('#txtHidden').val();
            var page = "Search";
            $.ajax({
                type: 'get',
                url: '@Url.Action("updateStats")',
                data: { "link": link, "page": page },
                success: function (result) {

                }
            });
        });
    </script>
}
