@{
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

@model PagedList.IPagedList<SOPBusinessLayer.DocHistory>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-2">
        <strong style="font-size:1.7em; padding-left:2px">Current SOP's</strong>
    </div>
    <div class="col-md-10">
        <div style="float: right">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <strong style="font-size: 1.2em;">Find by Office or SOP Info:&nbsp; &nbsp;</strong>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { style = " padding-bottom:8px; " })
                <input type="submit" class="btn btn-primary" value="Search" />
          
        }
        </div>
        
    </div>
    
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            @*<span class="h6">@Html.ActionLink("Upload New", "FileUpload")&nbsp;&nbsp;|&nbsp;&nbsp;</span><span
                class="h6">@Html.ActionLink("Admin", "Admin", "Home")</span>*@
            <table class="table table-condensed table-hover" >
                <tr>
                    <th>
                        @Html.ActionLink("Office", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        SOP Info
                    </th>
                    <th>
                        @Html.ActionLink("Effective On", "Search", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        Last Update
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td  style="max-width:150px; min-width:150px; max-height:50px; min-height:50px; width:150px; height:50px;">
                            @Html.DisplayFor(modelItem => item.SOP_SOP.Name)
                        </td>
                        <td style="max-width:400px; min-width:400px; max-height:50px; min-height:50px; width:400px; height:50px;">
                            @Html.DisplayFor(modelItem => item.DocInfo)
                        </td>
                        @*<td style="max-width:275px; min-width:275px; max-height:50px; min-height:50px; width:275px; height:50px;">
                            @Html.DisplayFor(modelItem => item.DocPath)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            <strong>@Html.ActionLink("Details", "Details", new { id = item.DocHistoryID })</strong>
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Search",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

          

    });




    </script>
}


