<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="~/favicon.ico" rel="Shortcut Icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    @Styles.Render("~/Bootstrap/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @{Html.RenderPartial("_Navbar"); }

    <div class="container">
        @RenderBody()
    </div>


    @{Html.RenderPartial("_Footer");}

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/googlejs")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datepick")

    @RenderSection("scripts", required: false)

</body>
</html>
