@model GrantBusinessLayer.Grant_Category


@{
    ViewBag.Title = "Edit";
}

<div style="padding-left: 5px">
    <h3>
        Edit<small> Grant Activity Category</small></h3>
        <br />
        
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <form class="form-horizontal">
    <div class="Container">
        <div class="row">
            <div class="col-sm-6">
                <fieldset class="scheduler-border">
                    
                    @Html.HiddenFor(model => model.CategoryID)
                    <div class="form-group col-xs-12">
                        <strong style="font-size: 1.2em">@Html.LabelFor(model => model.Name, new { @class = "control-label" })</strong>
                        <div>
                             @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                     
                     <div class="form-group col-xs-12">
                        <input type="submit" class="btn btn-success" value="Submit" />
                    </div>
                </fieldset>
                <br />
                <div>
                    @*<strong style="font-size: 1.2em">@Html.ActionLink("Back to List", "Index")</strong>*@
                    <a href="@Url.Action("Index", "Category")" class="btn btn-warning btn-sm"> Back To List <i class="fa fa-share" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    </form> 
}     
 
@section Scripts {

   <script type="text/javascript">
//       $(document).ready(function () {

//       });
    </script>
    }
