@model RecognitionBusinessLayer.Recognize

@{
    ViewBag.Title = "New Recognition Item ";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <form class="form-inline">
    <div class="Container">
        <div class="row">
            <div class="col-md-2">
                <strong style="font-size: 1.8em">@Html.LabelFor(model => model.RecogTypeId, new { @class = "control-label" }):</strong>
            </div>
            <div class="col-md-6">
                @Html.DropDownList("RecogTypeId", null, "Select Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RecogTypeId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @*<button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal">
                    Select Type</button>*@
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-2">
                <strong style="font-size: 1.8em">@Html.LabelFor(model => model.AwardTypeId, new { @class = "control-label" }):</strong>
            </div>
            <div class="col-md-6">
                @Html.DropDownList("AwardTypeId", null, "Select Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AwardTypeId, "", new { @class = "text-danger" })
            </div>
            
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-2">
                <strong style="font-size: 1.8em">@Html.LabelFor(model => model.AppEntityID, new { @class = "control-label" }):</strong>
            </div>
            <div class="col-md-6">
                @Html.DropDownList("AppEntityID", null, "Select Employee", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AppEntityID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-2">
                <strong style="font-size: 1.8em">@Html.LabelFor(model => model.OfficeId, new { @class = "control-label" }):</strong>
            </div>
            <div class="col-md-6">
                @Html.DropDownList("OfficeId", null, "Select Office", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OfficeId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-2">
                <strong style="font-size: 1.8em">@Html.LabelFor(model => model.Notes, new { @class = "control-label" }):</strong>
            </div>
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", cols = "20", rows = "7" })
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-2">
                <strong style="font-size: 1.8em">@Html.LabelFor(model => model.DocPath, new { @class = "control-label" }):</strong>
            </div>
            <div class="col-md-6">
                 @Html.TextBoxFor(model => model.DocPath, new { Value = Request.QueryString["value1"], @class = "form-control" })

            </div>
            <div class="col-md-4">
                <a href="@Url.Action("FileUpload", "Award")" class="btn btn-warning btn-sm" style="margin-top: 10px">Add New Doc
                    <span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>

            
           
        </div>

        <div class="row" style="margin-top: 10px">
            <div class="col-md-2">
                <strong style="font-size: 1.8em">@Html.LabelFor(model => model.IssuedDate, new { @class = "control-label" }):</strong>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        @Html.TextBoxFor(model => model.IssuedDate, new { @class = "form-control", mask = "99/99/9999" })
                        <span class="input-group-addon"><span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            @* <div class="col-md-4">
                
            </div>*@
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div>
            @*<strong style="font-size: 1.5em"> @Html.ActionLink("Back to Admin Page", "Index")</strong>*@
            <a href="@Url.Action("Admin", "Home")" class="btn btn-success btn-sm"> Back To Admin <i class="fa fa-share" aria-hidden="true"></i></a>
        </div>
    </div>
    </form>
    
}


@section Scripts {

   <script type="text/javascript">
       $(document).ready(function () {

           $('#datetimepicker1').datetimepicker({ format: 'MM/DD/YYYY' });

       });



    </script>
         

}