@model IEnumerable<GrantBusinessLayer.Grant_Daily>

@{
    ViewBag.Title = "View Activity";
}


@using (Html.BeginForm())
{

<div class="container">
    <div class="row">
        <div >
            <h3>
                Search <small>All Activity</small></h3>
        </div>
        <div class="col-md-12">
            <span style="font-size:1.2em">Select From Date:</span> &nbsp;
            @Html.TextBox("fromSearchDate" )&nbsp;&nbsp;&nbsp;&nbsp;
           <span style="font-size:1.2em">Select To Date:</span> &nbsp;
            @Html.TextBox("toSearchDate")
            &nbsp;&nbsp;&nbsp;&nbsp;
            @*<input type="submit" id="btnSearch" class="btn btn-success" />*@
          @*@Html.ActionLink("Back", "Search", "Admin", new { @fromDate = "fromSearchDate", @toDate = "toSearchDate" }, null)*@
          	@*<a href="@Url.Action("Search", "Admin", new { @fromDate = "@fromSearchDate", @toDate = "@toSearchDate" }, null)" class="btn btn-warning btn-sm"> Add New Entry <span class="glyphicon glyphicon-plus-sign"></span></a>*@

            @*<button class="btn btn-primary" id="btnSearch" value="123">Upload</button>*@
           	@*<a href="@Html.ActionLink("Search", "Admin", new {  @fromDate = "5/1/2017", @toDate = "5/30/2017" }, null)" class="btn btn-warning btn-sm"> Add New Entry <span class="glyphicon glyphicon-plus-sign"></span></a>*@


            @*@Url.Action("Search", "Admin", new { @fromDate = "5/1/2017", @toDate = "5/30/2017", class="btn btn-warning btn-sm"}, null, )*@

            @*<a href="@Html.Raw(@Url.Action("Search", "Admin", new { @fromDate = "5/1/2017", @toDate = "5/30/2017" }))" id="btnSearch" class="btn btn-warning btn-sm"> Add New Entry <span class="glyphicon glyphicon-plus-sign"></span></a>*@
            <a href="@Html.Raw(@Url.Action("Search", "Admin"))" id="btnSearch" class="btn btn-warning btn-sm"> Add New Entry <span class="glyphicon glyphicon-plus-sign"></span></a>


           @* @Html.Raw(@Url.Action("Search", "Admin", new { @fromDate = "5/1/2017", @toDate = "5/30/2017" }));*@

        </div>
        <div class="col-md-12">
            @ViewBag.SearchInfo
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
                  
            <table class="table table-condensed table-hover">
                <tr>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.Grant_GrantType.GrantType)
                    </th>
                    <th>
                        Entered By
                        @*@Html.DisplayNameFor(model => model.Person.FirstName & " " & model.Person.LastName)*@
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DailyStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DailyEnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApprovedFlag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MoreInformationFlag)
                    </th>
                   @* <th>
                        @Html.DisplayNameFor(model => model.Approvel.Approver)
                    </th>*@
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    @Html.HiddenFor(modelItem => item.AppEntityID)
                                        <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grant_GrantType.GrantType)
                        </td>
                        <td>
                            @(String.Format("{0} {1}", item.Person.FirstName, item.Person.LastName))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DailyStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DailyEnd)
                        </td>
                        <td style="max-height: 10px">
                            @{
                    string approve = (item.ApprovedFlag).ToString();
                    if (approve == "True")
                    {
                                            <img src="~/Images/Check_Round.png" alt="" class="image_background" />
                    }
                    else
                    {
                                            <img src="~/Images/red-minus.png" alt="" class="image_background" />
                    } 
                              }
                        </td>
                        <td>
                            @{
                    string moreinfo = (item.MoreInformationFlag).ToString();

                    if (moreinfo == "True")
                    {
                                <img src="~/Images/Check_Round.png" alt="" class="image_background" />
                    }
                    else
                    {
                                <img src="~/Images/red-minus.png" alt="" class="image_background" />
                    } }
                        </td>
                      
                        <td>
                            <a href="@Url.Action("Details", "Admin", new { id = item.AdminDailyID })" class="btn btn-success btn-xs">
                                Details <i class="fa fa-list" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
  
} 


@section Scripts {

  <script type="text/javascript">
      $(document).ready(function () {

      });


    


    $('#btnSearch').click(function () {
          var fromDt = $('#fromSearchDate').val();
          var toDt = $('#toSearchDate').val(); 
          $.ajax({
              type: 'post',
              url: '@Url.Action("Search")',
              data: { "fromDate": fromDt, "toDate": toDt }
//              success: function (result) {

//              }
          });
      });

      

        $(function () {
            $('#fromSearchDate').datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true
            });
        });

        $(function () {
            $('#toSearchDate').datepicker({
                dateFormat: "mm/dd/yy"
//                changeMonth: true,
//                changeYear: true
            });
        });


        $("#toSearchDate").change(function () {
            var startDate = document.getElementById("fromSearchDate").value;
            var endDate = document.getElementById("toSearchDate").value;

            if ((Date.parse(startDate) >= Date.parse(endDate))) {
                alert("End date should be greater than Start date");
                document.getElementById("EndDate").value = "";
            }
        });

    </script>

}