@model IEnumerable<SIAWeb.Models.People>

@*@model IEnumerable<SIAWeb.Models.GroupMembers>*@

<div style="padding-left: 5px">
    <h3>
        <span style="color:#2A9FD6">Current</span> <small> Members of <span style="color:#2A9FD6">@ViewBag.GroupName</span></small></h3>
</div>
<hr />
@*<form class="form-horizontal" action="Index">*@
<div class="Container">
    <div class="row">
        <div class="col-sm-3">
            <p>
            <strong style="font-size: 1.2em;color:#2A9FD6">Group Members</strong>
            </p>
        
            @{
                System.Text.StringBuilder _body = new System.Text.StringBuilder();
                _body.Append("<table style=\"color:white; width:100%\">");
                _body.Append("<tr><th style=\"width:20%; padding-left: 2px\">Visible</th>");
                _body.Append("<th style=\"width:80%\"> Member</th></tr>");

                foreach (var item in ViewData["MyMembers"] as IEnumerable<SIAWeb.Models.GroupMembers>)
                {
                    _body.Append("<tr><td style=\"padding-left: 10px\">" + @Html.DisplayFor(modelItem => item.Visible) + "</td>");

                    string _member = string.Format("{0} {1}", item.First, item.Last);
                    _body.Append("<td><span style=\"color: #2A9FD6\">" + _member + "</span></td></tr>");

                }
                _body.Append("</table>");
                @Html.Raw(_body.ToString());  
                        
            }
        </div>
        <div class="col-sm-9">

            <p>
                <strong style="font-size: 1.2em; color: #2A9FD6">Search & Add Members</strong>
            </p>
            <div class="col-md-12" style="padding-bottom:5px">
                <div class="col-md-7">
                    <strong style="font-size: 1.1em; padding-left: 2px">Search by Name, Badge or SAP</strong>
                </div>
                <div class="col-med-5">
                    @using (Html.BeginForm("Index", "GroupMemberAdd", FormMethod.Get, new { encType = "multipart/form-data", id = "myform", name = "myform" }))
                    {
                        <div class="input-group">
                            @Html.TextBox("search_string", null, new { @class = "form-control" })
                            <div class="input-group-btn">
                                <button class="btn btn-default" title="processing" type="submit" id="process" value="process">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            
            <div class="col-md-12" title="myDiv">
                @{
                    if (Model != null)
                    {
                    <table id="myTable" class="table table-condensed table-hover">
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Name
                            </th>
                            @*<th>
                            @Html.DisplayNameFor(model => model.SAP)
                        </th>*@
                            <th>
                                Office
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(model => item.AppEntityID)
                                    @{
                                   
                            string title = string.Format(" - {0}", item.RankCode);
                            int rank = (item.jtRanking);
                            if (rank <= 6)
                            {
                                           
                                        <img src="~/Images/SupervisorBadgeIcon.png" alt="" class="image_background" /> @Html.Raw(title.ToUpper())  
                            }
                            else if (rank >= 7 && rank <= 11)
                            {
                                        <img src="~/Images/OfficerBadgeIcon.png" alt="" class="image_background" /> @Html.Raw(title.ToUpper())  
                            }
                            else
                            {
                                        <img src="~/Images/SAPD-Patch.png" alt="" class="image_background" /> @Html.Raw(title.ToUpper())
                            }
                                    }
                                </td>
                                <td>
                                    @{
                            if (!String.IsNullOrEmpty(item.Badge))
                            {
                                string person = string.Format("{0} {1} #{2}", item.First, item.Last, item.Badge);
                                        @Html.Raw(person.ToUpper())
                            }
                            else
                            {
                                string person = string.Format("{0} {1}", item.First, item.Last);
                                        @Html.Raw(person.ToUpper())
                            }
                                    
                               
                                    }
                                </td>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.SAP)
                            </td>*@
                                <td>
                                    @{
                        
                            
                                    
                            string office = string.Format("{0}", item.OfficeCode);
                                        @Html.Raw(office.ToUpper())

                                    }
                                </td>
                                <td>
                                    @{
                            System.Text.StringBuilder eSt = new System.Text.StringBuilder();


                            int wsCode = (item.WorkStatusCode);
                            if (wsCode == 1)
                            {
                                eSt.Append("<span style=\"color: #00FF00\">");
                                eSt.Append(@Html.DisplayFor(modelItem => item.WSNameCode));
                                eSt.Append("</span>");
                            }
                            else if ((wsCode > 1) && (wsCode < 10))
                            {
                                eSt.Append("<span style=\"color: #FFFF00\">");
                                eSt.Append(@Html.DisplayFor(modelItem => item.WSNameCode));
                                eSt.Append("</span>");
                            }
                            else
                            {
                                eSt.Append("<span style=\"color: #FF0000\">");
                                eSt.Append(@Html.DisplayFor(modelItem => item.WSNameCode));
                                eSt.Append("</span>");
                            }

                                        @Html.Raw(eSt)
                            //@Html.DisplayFor(modelItem => item.Status)
                                
                                    }
                                </td>
                                <td>
                                    <button type="button" title="@ViewBag.GroupID" class="btn btn-warning btn-xs" id="@item.AppEntityID" >Add Member</button>
                                  
                                </td>
                            </tr>
    
                        }
                    </table>
                    }

                    if (Model == null)
                    {
                    <hr />
                    <p>
                        No employees match your serach</p>
                }
             
                }
            </div>
        </div>
</div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(".btn.btn-warning").click(function () {
            var myId = this.id;
            var gId = $(this).attr("title");
            //alert(myId + ' ' + gId);
            $.ajax({
                type: 'post',
                url: '@Url.Action("addmembers")',
                data: { "_appEntity": myId, "_group": gId },
                success: function (result) {
                    
                }
            });

        });


       
    </script>
    
}
