@model IEnumerable<SIABusinessLayer.SIAWebLinks>
@{
    ViewBag.Title = "SIA WEB";
}
<div class="container">
    <div style="padding-bottom: 10px">
       
        @{
            string user = (string)System.Web.HttpContext.Current.Session["userName"];

            if (@user != "Unknown")
            {
            <h4>
                @user<small>, Welcome back </small>
            </h4>
            }
            else
            {
             <h4>
                Welcome<small>, <a href="#">Click to become an SIA Web user</a> </small>
            </h4>
            }
        }
        
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
            <div id="accordion" class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-angle-double-down">
                            </i><a href="#panelBodyOne" data-toggle="collapse"  data-parent="#accordion">
                                Daily Activity Center </a>
                        </h4>
                    </div>
                    <div id="panelBodyOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                @foreach (var item in Model)
                                {
                                    if (item.ID == 2)
                                    {
                                    <li><a href=" @item.WebAddress " target="_blank">@item.LinkName </a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                 <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-angle-double-down">
                            </i><a href="#panelBodyTwo" data-toggle="collapse"  data-parent="#accordion">
                                Management Systems </a>
                        </h4>
                    </div>
                    <div id="panelBodyTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                @foreach (var item in Model)
                                {
                                    if (item.ID == 1)
                                    {
                                    <li><a href=" @item.WebAddress " target="_blank">@item.LinkName </a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <span class="glyphicon glyphicon-menu-down"></span>
                            <a href="#panelBodyThree" data-toggle="collapse" data-parent="#accordion">North America
                            </a>
                        </h4>
                    </div>
                    <div id="panelBodyThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>USA</li>
                                <li>Canada</li>
                                <li>Mexico</li>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div id="accordion" class="panel-group">
                @*<div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-menu-down"></span>
                            <a href="#panelBodyFour" data-toggle="collapse" data-parent="#accordion">Asia </a>
                        </h4>
                    </div>
                    <div id="panelBodyFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>India</li>
                                <li>China</li>
                                <li>Japan</li>
                            </ul>
                        </div>
                    </div>
                </div>*@ @*<div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-menu-down"></span>
                            <a href="#panelBodyFive" data-toggle="collapse" data-parent="#accordion">Europe </a>
                        </h4>
                    </div>
                    <div id="panelBodyFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>United Kingdom</li>
                                <li>France</li>
                                <li>Germany</li>
                            </ul>
                        </div>
                    </div>
                </div>*@
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @*<span class="fa fa-angle-double-down"></span>*@ <i class="fa fa-angle-double-down">
                            </i><a href="#panelBodySix" data-toggle="collapse" data-parent="#accordion">SAPD Links
                            </a>
                        </h4>
                    </div>
                    <div id="panelBodySix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                @foreach (var item in Model)
                                {
                                    if (item.ID == 5)
                                    {
                                    <li><a href=" @item.WebAddress " target="_blank">@item.LinkName</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.collapse').on('shown.bs.collapse', function () {
                $(this).parent().find('.fa-angle-double-down')
                                .removeClass('fa-angle-double-down')
                                .addClass('fa-angle-double-up');
            }).on('hidden.bs.collapse', function () {
                $(this).parent().find(".fa-angle-double-up")
                                .removeClass("fa-angle-double-up")
                                .addClass("fa-angle-double-down");
            });

        });

//        $(document).ready(function () {
//            $('[data-toggle="collapse"]').tooltip({
//                title: 'Tooltip from title option',
//                placement: 'right'
//            });
//        });
    </script>
}
