@model IECAWeb.Models.AuditHistrory

@{
    ViewBag.Title = "Details";
}

<form class="form-horizontal">
<div class="Container">
    <div class="row">
        <div class="col-sm-6">
            <fieldset class="scheduler-border">
                <h3 class="text-warning">
                    Audit Details</h3>
                <br />
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        @*<strong style="font-size: 1.2em" >@Html.DisplayNameFor(model => model.AppEntity.Officer.FirstName)</strong>*@
                        <strong class="text-warning" style="font-size: 1.5em" >Officer</strong>
                    </div>
                    <div class="display-field">
                       
                        <strong style="font-size: 1.2em">@(String.Format("{0} {1} #{2}", Model.AppEntity.Officer.FirstName , Model.AppEntity.Officer.LastName, Model.AppEntity.Officer.User_User.Badge))</strong>
                        	
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong class="text-warning" style="font-size: 1.5em;">@Html.DisplayNameFor(model => model.CaseAuditFlag)</strong>
                    </div>
                    <div class="display-field">
                        @{
                            string approve = (Model.CaseAuditFlag).ToString();
                            string answer;

                            if (approve == "True")
                            {
                                answer = "Audit Preformed This Month";

                            }
                            else if (approve == "False")
                            {
                                answer = "No Audit This Month";
                            }
                            else
                            {
                                answer = "Unknown Status Of Audit";
                            } 
                                                   
                        }
                        <strong style="font-size: 1.2em">@answer</strong>
                    </div>
                </div>
               
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong class="text-warning" style="font-size: 1.5em;">@Html.DisplayNameFor(model => model.AuditNotes)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.2em">@Html.DisplayFor(model => model.AuditNotes)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong class="text-warning" style="font-size: 1.5em;">@Html.DisplayNameFor(model => model.Grant_vActivityApprover.ApproveBy)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.2em">@Html.DisplayFor(model => model.Grant_vActivityApprover.ApproveBy)</strong>
                    </div>
                </div>


                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong class="text-warning" style="font-size: 1.5em;">@Html.DisplayNameFor(model => model.AuditDate)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.2em">@Html.DisplayFor(model => model.AuditDate)</strong>
                    </div>
                </div>

                
               
               
            </fieldset>

                @Html.ActionLink("Back to previous page", null, null, null, new { @class = "btn btn-warning btn-sm", href = Request.UrlReferrer })

               
        </div>
        


    </div>
</div>
</form>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {


        });

                        
    </script>
}


