@model IECAWeb.Models.AuditHistrory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AuditHistrory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Detective.First)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detective.First)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OfficeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CaseAuditFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaseAuditFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditorID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditorID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IECAID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
