@model IECAWeb.Models.AuditHistrory

@{
    ViewBag.Title = "Details";
}

<form class="form-horizontal">
<div class="Container">
    <div class="row">
        <div class="col-sm-6">
            <fieldset class="scheduler-border">
                <h3 class="text-warning">
                    Recognition Details</h3>
                <br />
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong style="font-size: 1.2em; color: #F47C3C">@Html.DisplayNameFor(model => model.Officer.FullName)</strong>
                    </div>
                    <div class="display-field">
                        <strong class="sop" style="font-size: 1.5em">@Html.DisplayFor(model => model.Officer.FullName)</strong>
                        	@*@Html.HiddenFor(model => model.Person.FirstName, new { id = "txtHidden" })*@
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong style="font-size: 1.2em; color: #F47C3C"">@Html.DisplayNameFor(model => model.CaseAuditFlag)</strong>
                    </div>
                    <div class="display-field">
                        <strong class="sop" style="font-size: 1.5em">@Html.DisplayFor(model => model.CaseAuditFlag)</strong>
                        	@*@Html.HiddenFor(model => model.Award_RecognitionType.Name, new { id = "txtHidden" })*@
                    </div>
                </div>
               
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong style="font-size: 1.2em; color: #F47C3C"">@Html.DisplayNameFor(model => model.AuditNotes)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em">@Html.DisplayFor(model => model.AuditNotes)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="display-label">
                        @*<strong style="font-size: 1.2em; color: #F47C3C"">@Html.DisplayNameFor(model => model.Auditor.UserName)</strong>*@
                    </div>
                    <div class="display-field">
                        @*<strong class="sop" style="font-size: 1.5em">@Html.DisplayFor(model => model.Auditor.UserName)</strong>*@
                        	@*@Html.HiddenFor(model => model.Award_RecognitionType.Name, new { id = "txtHidden" })*@
                    </div>
                </div>


                <div class="form-group col-xs-12">
                    <div class="display-label">
                        <strong style="font-size: 1.2em; color: #F47C3C"">@Html.DisplayNameFor(model => model.AuditDate)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em">@Html.DisplayFor(model => model.AuditDate)</strong>
                    </div>
                </div>

                
               
               
            </fieldset>
            	@*<a href="@Url.Action("Index", "Award")" class="btn btn-warning btn-sm"> Back To List <i class="fa fa-share" aria-hidden="true"></i></a>*@

                @*<a href="@Url.Action("Search", "Home")" class="btn btn-warning btn-sm"> Back To List <i class="fa fa-share" aria-hidden="true"></i></a>*@
                
                @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer})

               
        </div>
        


    </div>
</div>
</form>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

         
        });

                        
    </script>
}


@*<h2>Details</h2>

<fieldset>
    <legend>AuditHistrory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Officer.First)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Officer.First)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OfficeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CaseAuditFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CaseAuditFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditorID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditorID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IECAID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
*@