@model IECAWeb.Models.AuditHistrory


@{
    ViewBag.Title = "Edit";
}

<div style="padding-left: 5px">
    <h3>
        Enter<small> Audit Details</small></h3>
</div>
<hr />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

        <form class="form-horizontal">
    <div class="Container">
        <div class="row">
            <div class="col-sm-6">
                <fieldset class="scheduler-border">
                    @Html.HiddenFor(model => model.IECAID)
                    @Html.HiddenFor(model => model.AppEntityID)
                    @Html.HiddenFor(model => model.OfficeID)
                    @Html.HiddenFor(model => model.InsertDate)
                    @Html.HiddenFor(model => model.AuditByID, new { @Value = @ViewBag.Auditor })
                    <div class="form-group col-xs-12">
                        @*<div class="checkbox">*@
                            <label class="btn btn-success">
                                @*@Html.EditorFor(model => model.CaseAuditFlag, new { htmlAttributes = new { @class = "myEditorFor" } })*@
                                @Html.EditorFor(model => model.CaseAuditFlag)
                                <strong style="font-size: 1.2em">@Html.LabelFor(model => model.CaseAuditFlag, new { @class = "control-label" })</strong>
                            </label>
                       @* </div>*@
                    </div>

                    <div class="form-group col-xs-12">
                        <strong style="font-size: 1.2em">@Html.LabelFor(model => model.AuditNotes, new { @class = "control-label" })</strong>
                        @Html.TextAreaFor(model => model.AuditNotes, new { @class = "form-control", cols = "20", rows = "7" })
                        @Html.ValidationMessageFor(model => model.AuditNotes, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-xs-12">
                        <strong style="font-size: 1.2em">@Html.LabelFor(model => model.AuditDate, new { @class = "control-label" })</strong>
                        @Html.TextBoxFor(model => model.AuditDate, new { @class = "form-control", @Value = @DateTime.Now.ToString() })
                        @Html.ValidationMessageFor(model => model.AuditDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-xs-12">
                        <input type="submit" class="btn btn-success" value="Submit" />
                        <br />
                        <br />
                        <a href="@Url.Action("Index", "Audit", new { id = Model.OfficeID })" class="btn btn-warning btn-sm">
                            Back To List <i class="fa fa-share" aria-hidden="true"></i></a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    </form> 
}     

@section Scripts {

   <script type="text/javascript">
       $(document).ready(function () {

       });
    </script>
	}

