
@model IEnumerable<IECAWeb.Models.AuditHistrory>

@{
    ViewBag.Title = "Audit List";
}

     
<div class="pager">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            @using (Html.BeginForm("Index", "Audit", new { id = ViewBag.OfficeID, dtDate = ViewBag.MyDate, myMove = "Back" }, FormMethod.Post))
            {
                <button type="submit" id="moNext" class="btn btn-primary">
                    <span style="font-size: medium; padding-bottom: 5px; font-weight: bold;"><i class="fa fa-angle-left fa-1x"
                        aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Last Month</span></button>
            }
        </div>
        <div class="btn-group">
            <span style="font-size: x-large">@ViewBag.MyMonth</span>
        </div>
        <div class="btn-group">
            @using (Html.BeginForm("Index", "Audit", new { id = ViewBag.OfficeID, dtDate = ViewBag.MyDate, myMove = "Forword" }, FormMethod.Post))
            {
                <button type="submit" id="moNext" class="btn btn-primary">
                    <span style="font-size: medium; padding-bottom: 5px;font-weight: bold;">Next Month&nbsp;&nbsp;&nbsp;&nbsp;</span><i
                        class="fa fa-angle-right fa-1x" aria-hidden="true"></i></button>
            }
        </div>
    </div>
</div>
     
<br />

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <div class="col-xs-12 col-md-12" style="padding-bottom: 5px">
                <div class="col-xs-5 col-md-5 ">
                    <a href="@Url.Action("Index", "Office")" class="btn btn-warning btn-sm">Back To Office
                        List <i class="fa fa-share" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-7 col-md-7 ">
                    Audited<img src="~/Images/Check32x32.png" alt="" class="image_background" />&nbsp;&nbsp;&nbsp;&nbsp;|
                    No Audit Needed<img src="~/Images/Minus32x32.png" alt="" class="image_background" />&nbsp;&nbsp;&nbsp;&nbsp;|
                    Status Pending<img src="~/Images/Question32x32.png" alt="" class="image_background" />
                </div>
            </div>
            
            <table class="table table-condensed table-hover" >
                <tr>
                    <th>
                       
                        @Html.ActionLink("Officer", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                       Audit Status
                       @* @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })*@
                    </th>
                    @*<th>
                        Case Audit
                        @Html.ActionLink("Award", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>*@
                    <th>
                        @Html.ActionLink("Audit Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Audit By
                    </th>

                    <th>
                        See More Info
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                           <a href="@Url.Action("SelectedOfficer", "Audit", new { id = item.AppEntityID }, null)">@Html.Raw(String.Format("{0} {1} #{2}", item.AppEntity.Officer.FirstName, item.AppEntity.Officer.LastName, item.AppEntity.Officer.User_User.Badge))</a> 
                        </td>
                        <td>
                            @{
                    string approve = (item.CaseAuditFlag).ToString();
                    if (approve == "True")
                    {
                                <img src="~/Images/Check32x32.png" alt="" class="image_background" />
                    }
                    else if (approve == "False")
                    {
                                <img src="~/Images/Minus32x32.png" alt="" class="image_background" />
                    }
                    else
                    {
                                <img src="~/Images/Question32x32.png" alt="" class="image_background" />
                    }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuditDate)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Grant_vActivityApprover.ApproveBy)*@
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Audit", new { id = item.IECAID })" class="btn btn-info btn-xs">
                                Enter Audit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>| <a href="@Url.Action("Details", "Audit", new { id = item.IECAID })" class="btn btn-success btn-xs">
                                   View Details <i class="fa fa-list" aria-hidden="true"></i></a>
                                    @*| <a href="@Url.Action("Delete", "Audit", new { id = item.IECAID })" class="btn btn-danger btn-xs">
                                        Delete <i class="fa fa-times-circle" aria-hidden="true"></i></a>*@
                        </td>
                    </tr>
                }
            </table>
            <br />
           @* Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
        </div>
    </div>
    <div>
   
</div>
</div>

@section scripts
{
    <script type="text/javascript">

    </script>
}


