@model IEnumerable<RecognitionBusinessLayer.Award_spRecTypeMonthYear_Result>

@{
    ViewBag.Title = "AwardView";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

<form class="form-inline">
  <div class="form-group">
    <h5>Select Month & Year to view <span style="color: #FFFFFF">@ViewBag.Message:</span>  </h5>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   @Html.Hidden("recType")

    <div class="form-group" style="padding-top: 5px">
        <label for="ddlMonth" style="color: #FFCC00; font-size: 1.3em;">
            Month:
        </label>
        @Html.DropDownList("MonthNbr", (IEnumerable<SelectListItem>)ViewBag.MonthList, "Select Month", new { id = "ddlMonth", @class = "form-control" })
    </div>&nbsp; &nbsp; &nbsp;
    <div class="form-group" style="padding-top: 5px">
        <label for="ddlYear" style="color: #FFCC00; font-size: 1.3em;">
            Year:
        </label>
        @Html.DropDownList("YearNbr", (IEnumerable<SelectListItem>)ViewBag.YearList, "Select Year", new { id = "ddlYear", @class = "form-control" })
    </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          

    <button type="submit" class="btn btn-primary" style="margin-top: 6px">
        Submit</button>
  

</form>

<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            
            <h5>@ViewBag.MessageToUser</h5>
            <table class="table table-condensed table-hover" >
                <tr>
                    <th>
                        @Html.ActionLink("Employee", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Type
                        @*@Html.ActionLink("Type", "Search", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })*@
                    </th>
                    <th>
                        Award
                        @*@Html.ActionLink("Award", "Search", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })*@
                    </th>
                    <th>
                        @Html.ActionLink("Issed", "Search", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        See More Info
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Award)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Office_Office.Code)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.IssuedDate)
                        </td>
                        <td>
                          
                            <a href="@Url.Action("Details", "Home", new { id = item.RecognitionId })" class="btn btn-success btn-xs">
                                Details <i class="fa fa-list" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </table>
            <br />
           @* Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Search",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
        </div>
    </div>
</div>

