@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<RecognitionBusinessLayer.Recognize>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Recognition Search";
}

<div class="row" style="padding-bottom:10px">
    <div class="col-md-4">
        <strong style="font-size: 2.1em; padding-left: 2px">
            <span class="text-info">Recognition</span><span style="font-size:.6em"> Search</span>
        </strong>
    </div>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <div class="col-xs-4" style="padding-top: 10px"></div>
        <div class="col-md-4" style="padding-top: 10px">
            <div class="input-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search For..." })
                <div class="input-group-btn">
                    <button class="btn btn-default" title="processing" type="submit" id="process" value="process">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            
            <table class="table table-condensed table-hover" >
                <tr>
                    <th>
                        @Html.ActionLink("Employee", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Award
                    </th>
                    <th>
                        @Html.ActionLink("Issed", "Search", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        See More Info
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Award_RecognitionType.Name)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Award_AwardType.Name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Office_Office.Code)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.IssuedDate)
                        </td>
                        <td>
                            @*<strong>@Html.ActionLink("Details", "Details", new { id = item.RecognitionId })</strong>*@
                            <a href="@Url.Action("Details", "Home", new { id = item.RecognitionId })" class="btn btn-success btn-xs">
                                Details <i class="fa fa-list" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Search",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

 
        });
    </script>
}

