@model GrantBusinessLayer.Grant_Daily

@{
    ViewBag.Title = "Create";
}

<div style="padding-left: 5px">
    <h3>
        Create <small>New SOP</small></h3>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
  <form class="form-horizontal">
    <div class="Container">
        <div class="row">
            <div class="col-sm-6">
                <fieldset class="scheduler-border">
                    @Html.HiddenFor(model => model.AppEntityID, new { @Value = @ViewBag.UserID })
                    
                    
                    <div class="form-group col-xs-12">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.GrantTypeID, "Grant_GrantType")
                        </div>
                        <div class="editor-label">
                            @Html.DropDownList("GrantTypeID", null, "Select Grant", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GrantTypeID, "", new { @class = "text-danger" })
                        </div>
                    </div>
					
                    <div class="form-group col-xs-12">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.DailyStart)
                        </div>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.DailyStart, new {  @class = "form-control" ,mask = "99/99/9999 99:99"})
                            @Html.ValidationMessageFor(model => model.DailyStart, "", new { @class = "text-danger" })
                        </div>
                    </div>
                     <div class="form-group col-xs-12">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.DailyEnd)
                        </div>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.DailyEnd, new {  @class = "form-control" ,mask = "99/99/9999 99:99"})
                            @Html.ValidationMessageFor(model => model.DailyEnd, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                    @Html.HiddenFor(model => model.EnteredDate, new { @Value = @DateTime.Now.ToString() })
                    @Html.HiddenFor(model => model.ApprovedFlag, new { @Value = false })
                    @Html.HiddenFor(model => model.MoreInformationFlag, new { @Value = false })
                    </div>

                    <div class="form-group col-xs-12">
                        <input type="submit" class="btn btn-success" value="Submit" />
                        <br />
                        <br />
                        <a href="@Url.Action("Index", "Daily")" class="btn btn-warning btn-sm"> Back To List <span class="glyphicon glyphicon-share-alt"></span></a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    </form>
   
}

@section Scripts {

   <script type="text/javascript">
       $(document).ready(function () {

       });
    </script>

}




