@model GrantBusinessLayer.Grant_Daily

@{
    ViewBag.Title = "Create";
}

<div style="padding-left: 5px">
    <h3>
        Create <small>New Activity</small></h3>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
  <form class="form-horizontal" id="theForm">
    <div class="Container">
        <div class="row">
            <div class="col-sm-6">
                <fieldset class="scheduler-border">
                    @Html.HiddenFor(model => model.AppEntityID, new { @Value = @ViewBag.UserID })
                     @Html.HiddenFor(model => model.EnteredDate, new { @Value = @DateTime.Now.ToString() })
                    @Html.HiddenFor(model => model.ApprovedFlag, new { @Value = false })
                    @Html.HiddenFor(model => model.MoreInformationFlag, new { @Value = false })
                    <div class="form-group col-xs-12">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.GrantTypeID, new { @class = "control-label" })
                        </div>
                        <div class="editor-label">
                            @Html.DropDownList("GrantTypeID", null, "Select Grant", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GrantTypeID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <strong style="font-size: 1.2em; color: Orange">@Html.LabelFor(model => model.DailyStart, new { @class = "control-label" })</strong>
                        <div class='input-group date' id='datetimepicker1'>
                            @Html.TextBoxFor(model => model.DailyStart, new {id = "StartDate", @class = "form-control", mask = "99/99/9999 99:99" })
                            @Html.ValidationMessageFor(model => model.DailyStart, "", new { @class = "text-danger" })
                            <span class="input-group-addon"><span class="fa fa-calendar" data-toggle="tooltip" title="Click to see calendar!"></span></span>
                        </div>
                    </div>
					
                   @* <div class="form-group col-xs-12">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.DailyStart)
                        </div>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.DailyStart, new {id = "StartDate", @class = "form-control", mask = "99/99/9999 99:99" })
                            
                            @Html.ValidationMessageFor(model => model.DailyStart, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group col-xs-12">
                        <strong style="font-size: 1.2em; color: Orange">@Html.LabelFor(model => model.DailyEnd, new { @class = "control-label" })</strong>
                        <div class='input-group date' id='datetimepicker2'>
                            @Html.TextBoxFor(model => model.DailyEnd, new { id = "EndDate", @class = "form-control" ,mask = "99/99/9999 99:99"})
                            @Html.ValidationMessageFor(model => model.DailyEnd, "", new { @class = "text-danger" })
                            <span class="input-group-addon"><span class="fa fa-calendar" data-toggle="tooltip" title="Click to see calendar!"></span></span>
                        </div>
                    </div>

                     @*<div class="form-group col-xs-12">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.DailyEnd)
                        </div>
                        <div class="editor-label">
                            @Html.TextBoxFor(model => model.DailyEnd, new { id = "EndDate", @class = "form-control" ,mask = "99/99/9999 99:99"})
                            @Html.ValidationMessageFor(model => model.DailyEnd, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="form-group col-xs-12">
                   
                    </div>

                    <div class="form-group col-xs-12">
                        <input type="submit" class="btn btn-success" value="Submit" />
                        <br />
                        <br />
                        <a href="@Url.Action("Index", "Daily")" class="btn btn-warning btn-sm"> Back To List <i class="fa fa-share" aria-hidden="true"></i></a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    </form>
   
}

@section Scripts {

   <script type="text/javascript">
       $(document).ready(function () {

           $('[data-toggle="tooltip"]').tooltip();


       });

       $(function () {
           $('#datetimepicker1').datetimepicker({
               icons: {
                   time: "fa fa-clock-o",
                   date: "fa fa-calendar",
                   up: "fa fa-arrow-up",
                   down: "fa fa-arrow-down"
               }
           });
       });

       $(function () {
           $('#datetimepicker2').datetimepicker({
               icons: {
                   time: "fa fa-clock-o",
                   date: "fa fa-calendar",
                   up: "fa fa-arrow-up",
                   down: "fa fa-arrow-down"
               }
           });
       }); 
    </script>
          

}

@*@section Scripts {

   <script type="text/javascript">
       $(document).ready(function () {

//           $("#EndDate").change(function () {
//               var startDate = document.getElementById("StartDate").value;
//               var endDate = document.getElementById("EndDate").value;

//               if ((Date.parse(startDate) >= Date.parse(endDate))) {
//                   alert("End date should be greater than Start date");
//                   document.getElementById("EndDate").value = "";
//               }
//           });

           $('[data-toggle="tooltip"]').tooltip(); 

       });

       $(function () {
           $('#datetimepicker1').datetimepicker({
               icons: {
                   time: "fa fa-clock-o",
                   date: "fa fa-calendar",
                   up: "fa fa-arrow-up",
                   down: "fa fa-arrow-down"
               }
           });
       });

       $(function () {
           $('#datetimepicker2').datetimepicker({
               icons: {
                   time: "fa fa-clock-o",
                   date: "fa fa-calendar",
                   up: "fa fa-arrow-up",
                   down: "fa fa-arrow-down"
               }
           });
       });
      

      
    </script>

    

}
*@



