@model GrantBusinessLayer.Grant_Daily

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Grant_Daily</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AppEntityID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AppEntityID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Grant_GrantType.GrantType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grant_GrantType.GrantType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DailyStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DailyStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DailyEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DailyEnd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnteredDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnteredDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApprovedFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovedFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoreInformationFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoreInformationFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApprovedByID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovedByID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApprovedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovedDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
