@model GrantBusinessLayer.Grant_Daily

@{
    ViewBag.Title = "Details";
}

<div style="padding-left: 5px">
    <h3>
        Activity<small> Details</small></h3>
</div>
<form class="form-horizontal">
<div class="Container">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <fieldset class="scheduler-border">
                
               
                <div class="form-group col-xs-12">
                <div class="display-label">
                        <strong style="font-size: 1.2em">@Html.DisplayNameFor(model => model.Grant_GrantType.GrantType)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.Grant_GrantType.GrantType)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                <div class="display-label">
                        <strong style="font-size: 1.2em">@Html.DisplayNameFor(model => model.DailyStart)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.DailyStart)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                <div class="display-label">
                        <strong style="font-size: 1.2em">@Html.DisplayNameFor(model => model.DailyEnd)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.DailyEnd)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">

                </div>
                <div class="form-group col-xs-12">
                   <strong style="font-size: 1.2em">@Html.ActionLink("Edit", "Edit", new { id=Model.AdminDailyID }) |</strong> 
                <strong style="font-size: 1.2em"> @Html.ActionLink("Back to List", "Index")</strong>
                </div>
            </fieldset>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    @*<span class="h6">@Html.ActionLink("Add Item", "Create", "Activity", new { id = Model.AdminDailyID })&nbsp;&nbsp</span>*@
                    <span class="h6">@Html.ActionLink("Edit", "Edit", new { id = Model.AdminDailyID }, new { @class = "enterActivity", @data_target = "editCourseModal" })&nbsp;&nbsp</span>
                    <table class="table table-condensed table-hover">
                        <tr>
                            <th>
                                Grant Category 
                            </th>
                            <th>
                                Notes
                            </th>
                            <th>
                            </th>
                        </tr>
                        @foreach (var item in ViewData["Activities"] as IEnumerable<GrantBusinessLayer.Grant_Activity>)
                        {
                            <tr>
                                <td>
                                    @item.Grant_Category.Name
                                </td>
                                <td>
                                    @item.Notes
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.GrantActivityID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.GrantActivityID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.GrantActivityID })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enterActivityModal">
    <div class="modal-dialog">
        <div id="mainContent" class="modal-content col-sm-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    Edit Course</h4>
            </div>
            <div class="modal-body">
                //YOUR EXISTING FORM HERE
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">
                    Cancel</button>
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </div>
    </div>
</div>

</form>

@section Scripts {

   <script type="text/javascript">
       $(document).ready(function () {

       });

       $(function () {
           $('.enterActivity').on("click", function (e) {
        e.preventDefault();
        //perform the url load  then
        $('#enterActivityModal').modal({
                keyboard : true
            }, 'show');
        return false;
         })
       })

//       $(function () {
//        $('.enterActivity').on("click", function (e) {
//        e.preventDefault();
//        //replace the get with this.href to load the edit page
//        $.get('https://developer.mozilla.org/en-US/docs/Web', function (data) {
//            //replace the content returned
//            $("#mainContent").html(data);
//        });
//        //show the modal
//        $('#enterActivityModal').modal({
//            keyboard : true,
//        }, 'show');
//        return false;
//    })

//})

    </script>
    }
