@model GrantBusinessLayer.Grant_Daily

@{
    ViewBag.Title = "Details";
}

<div style="padding-left: 5px">
    <h3>
        Activity<small> Details</small></h3>
</div>
<form class="form-horizontal">
<div class="Container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <fieldset class="scheduler-border">
                
               
                <div class="form-group col-xs-12">
                <div class="display-label">
                        <strong style="font-size: 1.2em">@Html.DisplayNameFor(model => model.Grant_GrantType.GrantType)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.Grant_GrantType.GrantType)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                <div class="display-label">
                        <strong style="font-size: 1.2em">@Html.DisplayNameFor(model => model.DailyStart)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.DailyStart)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                <div class="display-label">
                        <strong style="font-size: 1.2em">@Html.DisplayNameFor(model => model.DailyEnd)</strong>
                    </div>
                    <div class="display-field">
                        <strong style="font-size: 1.5em; color: White">@Html.DisplayFor(model => model.DailyEnd)</strong>
                    </div>
                </div>
                <div class="form-group col-xs-12">

                </div>
                <div class="form-group col-xs-12">
                   <strong style="font-size: 1.2em">@Html.ActionLink("Edit", "Edit", new { id=Model.AdminDailyID }) |</strong> 
                <strong style="font-size: 1.2em"> @Html.ActionLink("Back to List", "Index")</strong>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12 col-md-8">
            
            <h2>
                Index</h2>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table>
                <tr>
                    <th>
                    </th>
                </tr>
                @foreach (var item in ViewData["Activities"]
                as IEnumerable<GrantBusinessLayer.Grant_Activity>)
                {
                    
                        
                            {
                            <option>@item.Notes
                            </option>
                            }
                        
                    <tr>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>
</form>



@*@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Grant_Daily</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AppEntityID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AppEntityID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Grant_GrantType.GrantType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grant_GrantType.GrantType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DailyStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DailyStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DailyEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DailyEnd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnteredDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnteredDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApprovedFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovedFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoreInformationFlag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoreInformationFlag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdminNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApprovedByID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovedByID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ApprovedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AdminDailyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
