@model GrantBusinessLayer.Grant_Daily


@{
    ViewBag.Title = "Edit";
}

<div style="padding-left: 5px">
    <h3>
        Edit<small> Grant Activity</small></h3>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <form class="form-horizontal">
    <div class="Container">
        <div class="row">
            <div class="col-sm-6">
                <fieldset class="scheduler-border">
                    
                    @Html.HiddenFor(model => model.AdminDailyID)
                    @Html.HiddenFor(model => model.EnteredDate, new { @Value = @DateTime.Now.ToString()})
                    @Html.HiddenFor(model => model.AppEntityID)
                    
                     <div class="form-group col-xs-12">
                         <strong style="font-size:1.2em">@Html.LabelFor(model => model.GrantTypeID, new { @class = "control-label" })</strong>
                        @Html.DropDownList("GrantTypeID", null, "Select Grant", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GrantTypeID, "", new { @class = "text-danger" })
                    </div>
                     <div class="form-group col-xs-12">
                         <strong style="font-size: 1.2em">@Html.LabelFor(model => model.DailyStart, new { @class = "control-label" })</strong>
                        @Html.TextBoxFor(model => model.DailyStart, new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.DailyStart, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-xs-12">
                         <strong style="font-size: 1.2em">@Html.LabelFor(model => model.DailyEnd, new { @class = "control-label" })</strong>
                        @Html.TextBoxFor(model => model.DailyEnd, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DailyEnd, "", new { @class = "text-danger" })
                    </div>
                      <div class="form-group col-xs-12">
                        <input type="submit" class="btn btn-success" value="Submit" />
                        <br />
                        <br />
                        <a href="@Url.Action("Index", "Daily")" class="btn btn-warning btn-sm"> Back To List <span class="glyphicon glyphicon-share-alt"></span></a>
                    </div>
                </fieldset>
                
            </div>
        </div>
    </div>
    </form> 
}     
 
@section Scripts {

   <script type="text/javascript">
       $(document).ready(function () {

       });
    </script>
	}



