@model IEnumerable<GrantBusinessLayer.Grant_Daily>


@{
    ViewBag.Title = "View Activity";
}

@using (Html.BeginForm())
{    
<form class="form-horizontal">



<div class="row">
    <div class="col-md-8">
        @*<strong style="font-size:1.3em; padding-left:10px">@ViewBag.User Entered Activity</strong>*@
        <h3>@ViewBag.User <small>Entered Activity</small></h3>
    </div>
    <div class="col-md-4">
        <div style="float: right">
            @using (Html.BeginForm("Index", "Daily", FormMethod.Post))
            { 
                <strong style="font-size: 1.2em;">Sort By:&nbsp; &nbsp;</strong>
               
                @Html.DropDownList(ViewData["SortBy"],null,  new { onchange = "this.form.submit();" }) 
                
                @*@Html.DropDownList("SortBy", (SelectList)ViewBag.SortBy, new { @class = "form-control", onchange = "this.form.submit();" })*@
               @*@Html.DropDownList("Answer", (SelectList)ViewBag.SortBy, new { onchange = "this.form.submit();" })*@
                @*@Html.DropDownList("Value", null, new { @class = "form-control", onchange = "this.form.submit();" }) *@
                
               @*<select name="Answer" id="Answer" style="width:200px" onchange = "this.form.submit();">
                    <option value="1">All Last 15 Days</option>
                    <option value="2">More Info Last 15 Days</option>
                    <option value="3">Approved Last 15 Days</option>
                    <option value="4">Not Approved Last 15 Days</option>
                   
                </select>*@
                                                
            
               @* @Html.RadioButton("Answer", "Last30", new { onchange = "this.form.submit();" }) <span>Last
                    30 Days |</span>
                @Html.RadioButton("Answer", "Approve", new { onchange = "this.form.submit();" }) <span>Approved
                    |</span>
                @Html.RadioButton("Answer", "NotApprove", new { onchange = "this.form.submit();" }) <span>Not
                    Approved |</span>
                @Html.RadioButton("Answer", "MoreInfo", new { onchange = "this.form.submit();" }) <span>More
                    Info |</span>
                @Html.RadioButton("Answer", "All", new { onchange = "this.form.submit();" }) <span>All
                    &nbsp; &nbsp;</span> *@
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            
            <a href="@Url.Action("Create", "Daily")" class="btn btn-warning btn-xs"> Add New Entry <i class="fa fa-plus-square" aria-hidden="true"></i></a>
           
            <table class="table table-condensed table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Grant_GrantType.GrantType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DailyStart)
                    </th>
                   @* <th>
                        @Html.DisplayNameFor(model => model.DailyEnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EnteredDate)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.ApprovedFlag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MoreInformationFlag)
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    @Html.HiddenFor(modelItem => item.AppEntityID)
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grant_GrantType.GrantType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DailyStart)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.DailyEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnteredDate)
                        </td>*@
                        <td style="max-height: 10px">
                            @{
                    string approve = (item.ApprovedFlag).ToString();
                    if (approve == "True")
                    {
                                <img src="~/Images/Check_Round.png" alt="" class="image_background" />
                    }
                    else
                    {
                                <img src="~/Images/red-minus.png" alt="" class="image_background" />
                    } }
                        </td>
                        <td>
                            @{
                    string moreinfo = (item.MoreInformationFlag).ToString();

                    if (moreinfo == "True")
                    {
                                @*<img src="~/Images/Check_Round.png" alt="" class="image_background" />*@
                                @Html.DisplayFor(modelItem => item.AdminNotes)
                                @*<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"
                                style="width: 140px ">
                                Request More Info
                                </button>*@
                                
                    }
                    else
                    {
                                <img src="~/Images/red-minus.png" alt="" class="image_background" />
                    } }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Daily", new { id = item.AdminDailyID })" class="btn btn-info btn-xs">
                                Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>| <a href="@Url.Action("Details", "Daily", new { id = item.AdminDailyID })" class="btn btn-success btn-xs">
                                    Details <i class="fa fa-list" aria-hidden="true"></i></a>| <a href="@Url.Action("Delete", "Daily", new { id = item.AdminDailyID })" class="btn btn-danger btn-xs">
                                        Delete <i class="fa fa-times-circle" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                   
                }
            </table>
           

        </div>
    </div>
</div>

                  @*<!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Request More Information from User</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="display-field">
                                        <strong style="font-size: 1.5em; color: White">@Html.TextAreaFor(model => model., new { @class = "form-control", cols = "20", rows = "7", id = "moreInfo" })
                                        </strong>
                                       
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Close</button>
                                    <button type="submit" id="reqMore" class="btn btn-primary">
                                        Request More info</button>
                                </div>
                            </div>
                        </div>
                    </div>   *@

</form>  
}
@section Scripts {

   <script type="text/javascript">
       $(document).ready(function () {

       });

//       $('#Index input').on('change', function () {
//           alert($('input[name=radioName]:checked', '#myForm').val());
//       });
    </script>
	}