@model IEnumerable<GrantReportingBusinessLayer.DailyActivity>

@{
    ViewBag.Title = "Entered Activity";
}

<h2>Entered Activity</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <span class="h5">@Html.ActionLink("Create New", "Create")&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            @*<span class="h6">@Html.ActionLink("Admin", "Index", "Admin")</span>*@
            <table class="table table-condensed table-hover">
                <tr>
                    @* <th>
                        @Html.DisplayNameFor(model => model.AppEntityID)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Grant_ActivityCategory.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityEnd)
                    </th>
                    @* <th>
                        @Html.DisplayNameFor(model => model.EnteredDate)
                    </th>*@
                    <th>
                         
                        @Html.DisplayNameFor(model => model.ApprovedFlag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MoreInformationFlag)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.ApprovedByID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApprovedDate)
                    </th>*@
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        @* <td>
                            @Html.DisplayFor(modelItem => item.AppEntityID)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Grant_ActivityCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityEnd)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.EnteredDate)
                        </td>*@
                        <td style="max-height:10px">
                           @* @Html.DisplayFor(modelItem => item.ApprovedFlag)*@
                            @{
                            string approve = (item.ApprovedFlag).ToString();
                            //string approve = "False";
                            if (approve == "True")
                            {
                                <img src="~/Images/Check_Round.png" alt=""   style="text-align: center; width: 25px; height: 25px; margin-left: 20px;"  />
                            }
                            else {
                                <img src="~/Images/red-minus.png" alt="" style="text-align: center; width: 25px; height: 25px; margin-left: 20px;" />
                             } }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoreInformationFlag)
                        </td>
                        @* <td>
                            @Html.DisplayFor(modelItem => item.ApprovedByID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovedDate)
                        </td>*@
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.AdminActivityID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.AdminActivityID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.AdminActivityID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppEntityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grant_ActivityCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnteredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoreInformationFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedByID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppEntityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grant_ActivityCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnteredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoreInformationFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedByID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdminActivityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdminActivityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminActivityID })
        </td>
    </tr>
}

</table>*@
