<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - User</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="~/favicon.ico" rel="Shortcut Icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @{Html.RenderPartial("_NavBarUser"); }

    <div class="container">
        @RenderBody()
    </div>

    @{Html.RenderPartial("_FooterUser");}


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
    @RenderSection("scripts", required: false)

</body>
</html>