@model PagedList.IPagedList<SOPBusinessLayer.SOP>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "SOP";
}

<div class="col-md-4">
    <strong style="font-size: 2.1em; padding-left: 2px">
        <span class="text-warning">Serach </span><span style="font-size:.6em"> SOP Shell</span>
    </strong>
</div>


@using (Html.BeginForm("Index", "SOP", FormMethod.Get))
{
    <div class="col-xs-4" style="padding-top: 20px"></div>
    <div class="col-md-4" style="padding-top: 5px">
        <div class="input-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search For..." })
            <div class="input-group-btn">
                <button class="btn btn-default" title="processing" type="submit" id="process" value="process">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="padding-top: 5px">
        <br />

    </div>
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <span class="h6">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-success" })&nbsp;&nbsp;|&nbsp;&nbsp;
        </span><a href="javascript:history.back()" class="btn btn-sm btn-primary">
            <span style="color:white">Back  <i class="fa fa-reply" aria-hidden="true"></i></span>
        </a>
        <table class="table table-condensed table-hover">
            <tr>
                <th>
                    @Html.ActionLink("SOP", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

                </th>
                <th>
                    @Html.ActionLink("Bureau", "Index", new { sortOrder = ViewBag.BureauSortParm, currentFilter = ViewBag.CurrentFilter })

                </th>
                <th>
                    @Html.ActionLink("Last Update", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })

                </th>
                <th>
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Office_Bureau.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SOPID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SOPID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SOPID })
                    </td>
                </tr>
            }
        </table>
        <p><span style="font:100; color:goldenrod">** Click SOP, Bureau or Last Update to sort **</span></p>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", "SOP",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>
