@model PagedList.IPagedList<SOPBusinessLayer.SOP>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "SOP";
}

<div class="row">
    <div class="col-md-7">
        <strong style="font-size:1.8em; padding-left:10px">SOP's</strong>
    </div>
    <div class="col-md-5">
        
        @using (Html.BeginForm("Index", "SOP", FormMethod.Get))
        {
            <strong style="font-size:1.2em;">Find by SOP or Bureau:&nbsp; &nbsp;</strong>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { style = " padding-bottom:8px; " })
            <input type="submit" class="btn btn-primary" value="Search" />
        }
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <span class="h6">@Html.ActionLink("Create New", "Create")&nbsp;&nbsp;|&nbsp;&nbsp;</span><span
                class="h6">@Html.ActionLink("Admin", "Admin", "Home")</span>
            <table class="table table-condensed table-hover">
                <tr>
                    <th>
                        @Html.ActionLink("SOP", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
                       
                    </th>
                    <th>
                        @Html.ActionLink("Bureau", "Index", new { sortOrder = ViewBag.BureauSortParm, currentFilter = ViewBag.CurrentFilter })
                       
                    </th>
                    <th>
                        @Html.ActionLink("Last Update", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                        
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Office_Bureau.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.SOPID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.SOPID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.SOPID })
                        </td>
                    </tr>
                }
            </table>
            <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index", 
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>
