@model IEnumerable<SIAWeb.Models.SearchFor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Alternate.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    if (Model != null)
    {
        <table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Badge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Badge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
        
        
    }
}


