<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
     <title>@ViewBag.Title</title>
     <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="~/favicon.ico" rel="Shortcut Icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="~/Home/Index">Grant Admin Reporting</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="active"><a href="~/Home/Index"><span class="fa fa-home fa-fw"></span>Home
              </a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Inbox <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="~/Daily/Create">New Entry</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="~/Daily/Index">My Que</a></li>
                      @*<li role="separator" class="divider"></li>
                      <li><a href="~/Admin/Index">Approval Request</a></li>*@
                  </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Approve/Add/Edit <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="~/Admin/Index">Approval Request</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="~/Admin/Search">Search Item</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="~/GrantType/Index">Grant Type</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="~/Category/Index">Activity</a></li>
                  </ul>
              </li>
              <li><a href="~/Home/Contact"><i class="fa fa-phone"></i>Contact </a></li>
          </ul>
          
      </div>
      <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @RenderBody()
                <hr />
            </div>
        </div>
    </div>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="text-center">&copy; @DateTime.Now.Year - Activity App - Created by: D.Davidson#1341</p>
                </div>
            </div>
      </footer>

    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/googlejquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimepicker")
    @RenderSection("scripts", required: false)

</body>
</html>
